body{
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-template-areas: 
        "title title"
        "main  main"
        "ad1   ad1"
        "ad2   ad2"
        "foot  foot "; 
}

.header{
  grid-area: title;
} 

.main{
  grid-area: main;
}

.ad1 {
  grid-area: ad1;
}
.ad2 {
  grid-area: ad2;
}

.foot {
  grid-area: foot;
}